extends layout
block content
	canvas( data-processing-sources="processing/91584.pde" id="draw", resize="true", keepalive="true" )
	script( type="text/paperscript", src="javascripts/processing.js", canvas="draw")
